@import '../../styles';

:host {
  display: flex;
  flex-direction: column;

  .myFormItemInput {
    border: 2px solid @themecolorVioletDark;
  }

  .myFormItemLabel {
    text-align: left;
    display: flex;
    align-items: flex-end;
    font-family: 'Arial'
  }
}

.portrait {
  :host {
    &.first {
      grid-area: ~"1/1/2/2" 
    }
    .myFormItemLabel, .myFormItemInput {
      height: 8vw;
    }
    .myFormItemLabel {
      padding-left: 3vw;
      font-size: 3vw;
    }
    .myFormItemInput {
      font-size: 3vw;
    }
  }
}

.landscape {
  :host {
    &.first {
      grid-area: ~"1/1/2/3" 
    }
    .myFormItemLabel, .myFormItemInput {
      height: 3vw;
    }
    .myFormItemLabel {
      padding-left: 0.5vw;
      font-size: 1.5vw;
    }
    .myFormItemInput {
      font-size: 1.5vw;
    }
  }
}
